## 01. 데이터 셋 불러오기

In [2]:
import pandas as pd
import numpy as np

In [38]:
tr = pd.read_csv("D:/dataset/House_Prices/train.csv")

In [39]:
print(tr.shape)
tr.head()

(1460, 81)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

### 02. Gradient Descent
<pre>
MSSubClass: The building class
OverallQual: Overall material and finish quality
OverallCond: Overall condition rating
BsmtFinSF1: Type 1 finished square feet
BsmtFinSF2: Type 2 finished square feet
</pre>

In [61]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [62]:
selCol = ["MSSubClass","LotArea", 
          "OverallQual", "OverallCond", 
          "YearBuilt", "YearRemodAdd",
          "BsmtFinSF1", "BsmtFinSF2", 
          "SalePrice"]
X = tr[selCol]
X.head()

   MSSubClass  OverallQual  OverallCond  BsmtFinSF1  BsmtFinSF2  SalePrice
0          60            7            5         706           0     208500
1          20            6            8         978           0     181500
2          60            7            5         486           0     223500
3          70            7            5         216           0     140000
4          60            8            5         655           0     250000

In [63]:
# from sklearn.preprocessing import StandardScaler

# scaler = StandardScaler()
# scaler.fit(X)
# X_scaled = scaler.transform(X)
# X_scaled_df = pd.DataFrame(X_scaled, columns=selCol)
# print(type(X_scaled_df))
# print(X_scaled_df.shape, X_scaled_df.head())

In [82]:
# MSSubClass, LotFrontage, LotArea, 
x1 = tr["MSSubClass"].values
x2 = tr["OverallQual"].values   
x3 = tr["OverallCond"].values
x4 = tr["BsmtFinSF1"].values
x5 = tr["BsmtFinSF2"].values

w1 = np.random.uniform(low=0.0, high=1.0)
w2 = np.random.uniform(low=0.0, high=1.0)
w3 = np.random.uniform(low=0.0, high=1.0)
w4 = np.random.uniform(low=0.0, high=1.0)
w5 = np.random.uniform(low=0.0, high=1.0)

b = np.random.uniform(low=0.0, high=1.0)

y = tr["SalePrice"].values

In [83]:
num_epoch = 10000
learning_rate = 0.00000005

for epoch in range(num_epoch):
    y_predict = x1 * w1 + \
                x2 * w2 + \
                x3 * w3 + \
                x4 * w4 + \
                x5 * w5 + b
                
    error = np.abs(y_predict - y).mean()
    
    w1 = w1 - learning_rate * ((y_predict - y) * x1).mean()
    w2 = w2 - learning_rate * ((y_predict - y) * x2).mean()
    w3 = w3 - learning_rate * ((y_predict - y) * x3).mean()
    w4 = w4 - learning_rate * ((y_predict - y) * x4).mean()
    w5 = w5 - learning_rate * ((y_predict - y) * x5).mean()
    
    b = b - learning_rate * (y_predict - y).mean()
    
    if epoch % 500 ==0:
        print("{0} error={1}".format(epoch, error))
        
print("{0} error={1}".format(epoch, error))
print(w1, w2, w3, w4, w5)

0 error=180625.83737360005
500 error=94175.25494461456
1000 error=91049.59209354439
1500 error=88880.10971150662
2000 error=87181.77326983312
2500 error=85724.9313820033
3000 error=84494.29399184
3500 error=83454.04810945703
4000 error=82609.49359601579
4500 error=81923.07777206026
5000 error=81346.0883913765
5500 error=80864.04389333399
6000 error=80466.0163269229
6500 error=80119.53672413359
7000 error=79837.67031151833
7500 error=79606.61803591817
8000 error=79406.49290403299
8500 error=79236.90520727998
9000 error=79089.34466156017
9500 error=78956.79028416814
9999 error=78838.75537526049
985.8869638342363 195.20142783461355 151.3206915996216 167.70531486134388 113.7201993261773

In [84]:
result = tr.copy()

y_predict = x1 * w1 + \
            x2 * w2 + \
            x3 * w3 + \
            x4 * w4 + \
            x5 * w5 +  b

result["SalePrice(predict)"] = y_predict
result.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,SalePrice(predict)
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2008,WD,Normal,208500,179703.648163
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,5,2007,WD,Normal,181500,186142.775899
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,9,2008,WD,Normal,223500,142808.478893
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000,107386.913519
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,12,2008,WD,Normal,250000,171345.878533

### 03. 모든 int 변수 컬럼에 대상
<pre>
Gradient descent 알고리즘 아래 항목에 대해 수행해 보자.
</pre>

In [85]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [99]:
selCol1 = [
"MSSubClass",   
"LotArea", 
"OverallQual", 
"OverallCond", 
"1stFlrSF",
"GrLivArea",
"BsmtFinSF1", 
"BsmtFinSF2", 
"BsmtUnfSF", 
"TotalBsmtSF"    
]
X = tr[selCol1]
print(X.shape)
X.head()

(1460, 10)

,MSSubClass,LotArea,OverallQual,OverallCond,1stFlrSF,GrLivArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF
0,60,8450,7,5,856,1710,706,0,150,856
1,20,9600,6,8,1262,1262,978,0,284,1262
2,60,11250,7,5,920,1786,486,0,434,920
3,70,9550,7,5,961,1717,216,0,540,756
4,60,14260,8,5,1145,2198,655,0,490,1145

In [107]:
num_epoch = 30000
learning_rate = 0.000000000005

w = np.random.uniform(low=0.0, high=1.0, size=10)
b = np.random.uniform(low=0.0, high=1.0)

for epoch in range(num_epoch):
    y_predict = X.dot(w) + b

    error = np.abs(y_predict - y).mean()
    #print(error)
    if error < 5:
        break

    
    w = w - learning_rate * X.T.dot((y_predict - y))
    b = b - learning_rate * (y_predict - y).mean()

    if epoch % 3000 == 0:
        print("{0:4} error = {1:.5f}".format(epoch, error))
        print(w)
        
print("{0:4} error = {1:.5f}".format(epoch, error))

   0 error = 178276.79556
MSSubClass      0.102688
LotArea        15.192459
OverallQual     0.936171
OverallCond     0.671154
1stFlrSF        2.446217
GrLivArea       2.832158
BsmtFinSF1      1.391937
BsmtFinSF2      0.180619
BsmtUnfSF       0.877182
TotalBsmtSF     1.843903
dtype: float64
3000 error = 31559.45282
MSSubClass     -1.476159
LotArea         0.154160
OverallQual     1.738874
OverallCond     0.721484
1stFlrSF       11.937348
GrLivArea      74.073730
BsmtFinSF1     28.709537
BsmtFinSF2     -4.454275
BsmtUnfSF      10.354377
TotalBsmtSF    34.003805
dtype: float64
6000 error = 31280.34817
MSSubClass     -5.789715
LotArea         0.169678
OverallQual     2.337596
OverallCond     0.630425
1stFlrSF        1.402720
GrLivArea      77.232781
BsmtFinSF1     31.711948
BsmtFinSF2     -5.484489
BsmtUnfSF      12.817728
TotalBsmtSF    38.439354
dtype: float64
9000 error = 31202.83666
MSSubClass    -10.012429
LotArea         0.174796
OverallQual     2.936900
OverallCond     0.556632
1stFlrSF       -3.469558
GrLivArea      78.564430
BsmtFinSF1     32.879562
BsmtFinSF2     -5.188020
BsmtUnfSF      13.837251
TotalBsmtSF    40.922959
dtype: float64
12000 error = 31167.94430
MSSubClass    -14.085836
LotArea         0.175434
OverallQual     3.537770
OverallCond     0.492310
1stFlrSF       -5.815503
GrLivArea      79.288259
BsmtFinSF1     33.307220
BsmtFinSF2     -4.677878
BsmtUnfSF      14.201426
TotalBsmtSF    42.224934
dtype: float64
15000 error = 31146.95788
MSSubClass    -18.000657
LotArea         0.174443
OverallQual     4.140417
OverallCond     0.433745
1stFlrSF       -6.977718
GrLivArea      79.732152
BsmtFinSF1     33.455348
BsmtFinSF2     -4.258900
BsmtUnfSF      14.315629
TotalBsmtSF    42.906243
dtype: float64
18000 error = 31132.70140
MSSubClass    -21.757044
LotArea         0.172918
OverallQual     4.744889
OverallCond     0.379221
1stFlrSF       -7.570441
GrLivArea      80.038929
BsmtFinSF1     33.501691
BsmtFinSF2     -3.974146
BsmtUnfSF      14.338568
TotalBsmtSF    43.260279
dtype: float64
21000 error = 31123.07048
MSSubClass    -25.358726
LotArea         0.171265
OverallQual     5.351165
OverallCond     0.327899
1stFlrSF       -7.882471
GrLivArea      80.275105
BsmtFinSF1     33.512990
BsmtFinSF2     -3.797072
BsmtUnfSF      14.330177
TotalBsmtSF    43.440262
dtype: float64
24000 error = 31115.75698
MSSubClass    -28.810852
LotArea         0.169626
OverallQual     5.959198
OverallCond     0.279336
1stFlrSF       -8.052980
GrLivArea      80.472591
BsmtFinSF1     33.513447
BsmtFinSF2     -3.692828
BsmtUnfSF      14.312356
TotalBsmtSF    43.527141
dtype: float64
27000 error = 31109.68159
MSSubClass    -32.119063
LotArea         0.168044
OverallQual     6.568927
OverallCond     0.233268
1stFlrSF       -8.150627
GrLivArea      80.647142
BsmtFinSF1     33.511337
BsmtFinSF2     -3.634083
BsmtUnfSF      14.292684
TotalBsmtSF    43.564104
dtype: float64
29999 error = 31104.53697

In [106]:
result = tr.copy()

y_predict = X.dot(w) + b

result["SalePrice(predict)"] = y_predict
result.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,SalePrice(predict)
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2008,WD,Normal,208500,193589.307855
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,5,2007,WD,Normal,181500,184364.044153
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,9,2008,WD,Normal,223500,199142.134136
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000,177916.342647
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,12,2008,WD,Normal,250000,247359.055214